[init]
	defaultBranch = main

[user]
	name = David Konsumer
	email = konsumer@jetboystudio.com

[color]
	ui = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true