// if you have noctalia, it's a nice general bar, but feel free to replace with another
spawn-sh-at-startup "qs -c noctalia-shell"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots"

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
}

input {
    focus-follows-mouse
    workspace-auto-back-and-forth
}

layout {
    gaps 16 // Gap between windows
    center-focused-column "never" // Don’t auto-center focused column

    background-color "transparent" // <- needed for noctalia-shell to set wallpaper

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        on // Set to 'on' or remove this line if you want it enabled
        width 4
        active-color "#5f7261"
    }

    struts {}
}

animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    window-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    window-close {
        duration-ms 200
        curve "ease-out-cubic"
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1200 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 300
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
    }
}

gestures {
    hot-corners {
        off
    }
}

cursor {
    hide-after-inactive-ms 1000
}

debug {
    // Allows notification actions and window activation from Noctalia.
    honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
   skip-at-startup
}

binds {
    // ─── Applications ───
    Mod+Return hotkey-overlay-title="Open Terminal: Alacritty" { spawn "alacritty"; }
    Mod+B hotkey-overlay-title="Open Browser: chromium" { spawn "chromium"; }
    Mod+M hotkey-overlay-title="File Manager: Nautilus" { spawn "nautilus"; }
    Mod+Space hotkey-overlay-title="Open App Launcher: noctalia launcher" { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+L hotkey-overlay-title="Lock Screen" {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "lockScreen" "lock"
    }

    // You can do terminal-running key-binds like this
    // Mod+S hotkey-overlay-title="Trigger Screensaver" {
    //     spawn "alacritty" "--class" "niri-screensaver" "-e" "niri-screensaver"
    // }


    // ─── Media Controls ───
    XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
    XF86AudioMicMute                    allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }
    XF86AudioNext                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media next"; }
    XF86AudioPrev                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media previous"; }
    XF86AudioPlay                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }
    XF86AudioPause                      allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }

    // ─── Brightness Controls ───
    XF86MonBrightnessUp                 allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness increase"; }
    XF86MonBrightnessDown               allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness decrease"; }

    // ─── Window Movement and Focus ───
    Mod+Q                               { close-window; }

    Mod+Left                            { focus-column-left; }
    Mod+Right                           { focus-column-right; }
    Mod+Up                              { focus-window-up; }
    Mod+Down                            { focus-window-down; }

    Mod+CTRL+Left                       { move-column-left; }
    Mod+CTRL+Right                      { move-column-right; }
    Mod+CTRL+UP                         { move-window-up; }
    Mod+CTRL+Down                       { move-window-down; }

    Mod+Home                            { focus-column-first; }
    Mod+End                             { focus-column-last; }
    Mod+CTRL+Home                       { move-column-to-first; }
    Mod+CTRL+End                        { move-column-to-last; }

    Mod+Shift+Left                      { focus-monitor-left; }
    Mod+Shift+Right                     { focus-monitor-right; }
    Mod+Shift+UP                        { focus-monitor-up; }
    Mod+Shift+Down                      { focus-monitor-down; }

    Mod+Shift+CTRL+Left                 { move-column-to-monitor-left; }
    Mod+Shift+CTRL+Right                { move-column-to-monitor-right; }
    Mod+Shift+CTRL+UP                   { move-column-to-monitor-up; }
    Mod+Shift+CTRL+Down                 { move-column-to-monitor-down; }

    // ─── Workspace Switching ───
    Mod+WheelScrollDown                 cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp                   cooldown-ms=150 { focus-workspace-up; }
    Mod+CTRL+WheelScrollDown            cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+CTRL+WheelScrollUp              cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight                { focus-column-right; }
    Mod+WheelScrollLeft                 { focus-column-left; }
    Mod+CTRL+WheelScrollRight           { move-column-right; }
    Mod+CTRL+WheelScrollLeft            { move-column-left; }

    Mod+Shift+WheelScrollDown           { focus-column-right; }
    Mod+Shift+WheelScrollUp             { focus-column-left; }
    Mod+CTRL+Shift+WheelScrollDown      { move-column-right; }
    Mod+CTRL+Shift+WheelScrollUp        { move-column-left; }

    Mod+1                               { focus-workspace 1; }
    Mod+2                               { focus-workspace 2; }
    Mod+3                               { focus-workspace 3; }
    Mod+4                               { focus-workspace 4; }
    Mod+5                               { focus-workspace 5; }
    Mod+6                               { focus-workspace 6; }
    Mod+7                               { focus-workspace 7; }
    Mod+8                               { focus-workspace 8; }
    Mod+9                               { focus-workspace 9; }

    Mod+CTRL+1                          { move-column-to-workspace 1; }
    Mod+CTRL+2                          { move-column-to-workspace 2; }
    Mod+CTRL+3                          { move-column-to-workspace 3; }
    Mod+CTRL+4                          { move-column-to-workspace 4; }
    Mod+CTRL+5                          { move-column-to-workspace 5; }
    Mod+CTRL+6                          { move-column-to-workspace 6; }
    Mod+CTRL+7                          { move-column-to-workspace 7; }
    Mod+CTRL+8                          { move-column-to-workspace 8; }
    Mod+CTRL+9                          { move-column-to-workspace 9; }

    // ─── Layout Controls ───
    Mod+CTRL+F                          { expand-column-to-available-width; }
    Mod+C                               { center-column; }
    Mod+CTRL+C                          { center-visible-columns; }
    Mod+Minus                           { set-column-width "-10%"; }
    Mod+Equal                           { set-column-width "+10%"; }
    Mod+Shift+Minus                     { set-window-height "-10%"; }
    Mod+Shift+Equal                     { set-window-height "+10%"; }

    // ─── Modes ───
    Mod+T                               { toggle-window-floating; }
    Mod+F                               { maximize-column; }
    Mod+Shift+F                         { fullscreen-window; }
    Mod+W                               { toggle-column-tabbed-display; }

    // ─── Screenshots ───
    Mod+Shift+1                        { screenshot-screen; }
    Mod+Shift+2                        { screenshot-window; }
    Mod+Shift+4                        { screenshot; }
    Mod+Shift+5                        { spawn "gsr-ui-cli" "toggle-record"; }

    // ─── Emergency Escape Key ───
    // Use this when a fullscreen app blocks your keybinds.
    // It disables any active keyboard shortcut inhibitor, restoring control.
    Mod+ESCAPE                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // ─── Exit / Power ───
    CTRL+ALT+Delete                     { quit; } // Also quits Niri
    Mod+Shift+P                         { power-off-monitors; } // Turn off screens (useful for OLED or privacy)
    Mod+O                               repeat=false { toggle-overview; }
}

recent-windows {
    binds {
        // Pressing Mod+Tab moves forward through the visual switcher list
        "Mod+Tab" { next-window; }
        
        // Pressing Mod+Shift+Tab moves backward through the list
        "Mod+Shift+Tab" { previous-window; }
    }
}



// Block out password managers from screencasts.
window-rule {
    match app-id=r#"Bitwarden"#
    block-out-from "screencast"
}

// Block out mako notifications from screencasts.
layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

window-rule {
    match app-id="niri-screensaver"    
    open-fullscreen true
}

window-rule {
    geometry-corner-radius 20 // Set every window radius to 20
    clip-to-geometry true
}

window-rule {
    match app-id="steam"
    exclude title=r#"^[Ss]team$"#
    open-floating true
}

window-rule {
   match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
   default-floating-position x=10 y=10 relative-to="bottom-right"
   open-focused false
}

window-rule {
    // Matches any game launched through Steam Proton
    match app-id=r#"^steam_app_\d+$"#
    
    // Forces the game to bypass the tiling ribbon and open full screen
    open-fullscreen true
}